.remote/
i18n
sandbox
granatshop/granatshop/wsgi.py
*.sqlite*
*/zonesdb
tmp*.*
*/logs/*
*/media/
*/static/oscar/img
*/static/oscar/fonts
*/static/admin
.listing
*.pyc
__pycache__
*.swp
*.bak
*.DBF
*.tmp
