{% extends 'oscar/catalogue/detail.html' %}
{% load url from future %}
{% load currency_filters %}
{% load reviews_tags %}
{% load display_tags %}
{% load i18n %}
{% block description %}{% if product.attr.meta_description %}{{ product.attr.meta_description }}{% else %}{{ product.description|safe|striptags|cut:"&nbsp;"|truncatewords:50 }}{% endif %}{% endblock %}
{% block keywords %}{% if product.attr.meta_keywords %}{{ product.attr.meta_keywords }}{% else %}{{ product.title|cut:"." }} купить{% endif %}{% endblock %}
{% block product_main %}
<div class="span6">
    {% comment %} 
    This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that 
    pops out when clicked.  A bit like the Django-Debug-Toolbar button
    {% endcomment %}
    {% if user.is_authenticated and user.is_staff %}
    <a class="pull-right" href="{% url 'dashboard:catalogue-product' product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
    {% endif %}
    <h1>{{ product.get_title }}</h1>
    <h3><small>{{ product.authors }}</small></h3>
    {% block product_stock_record %}{% endblock %}
    {% iffeature "reviews" %}
    {% if product.rating != None %}
    <p class="star {{ product.rating|as_stars }}">
    <small><a href="{% url 'catalogue:reviews-list' product.slug product.id %}">
            {% blocktrans count reviews|length as num_reviews %}
            1 custom review
            {% plural %}
            {{ num_reviews }} customer reviews
            {% endblocktrans %}
    </a></small>
    &nbsp;
    {% else %}
    <p class="star">
    {% endif %}
    {% if not product|has_review_by:user %}
    <a id="write_review" href="{% url 'catalogue:reviews-add' product.slug product.id %}#addreview" class="btn btn-success btn-small">
        {% trans "Write a review" %}
    </a>
    {% endif %}
    </p>
    {% endiffeature %}

    <hr/>

    {% block product_basket_form %}
    {% include "catalogue/partials/add_to_basket_form.html" %}
    {% endblock %}
</div><!-- /span6 -->
{% endblock %}

{% block product_info %}{% endblock %}
