{% extends 'oscar/catalogue/detail.html' %}
{% load url from future %}
{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block description %}{% if product.attr.meta_description %}{{ product.attr.meta_description }}{% else %}{{ product.description|safe|striptags|cut:"&nbsp;"|truncatewords:50 }}{% endif %}{% endblock %}
{% block keywords %}{% if product.attr.meta_keywords %}{{ product.attr.meta_keywords }}{% else %}{{ product.title|cut:"." }} купить{% endif %}{% endblock %}
{% block content %}

<article class="product_page"><!-- Start of product page -->

    <div class="row-fluid">

        {% block product_gallery %}
        <div class="span6">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        {% block product_main %}
        <div class="span6">
            {% comment %} 
            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that 
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_authenticated and user.is_staff %}
                <a class="pull-right hidden-phone" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>
            <h3><small>{{ product.authors }}</small></h3>

            {% block product_stock_record %}
                {% include "catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            {% iffeature "reviews" %}
                {% if product.rating != None %}
                <h4 class="star-rating {{ product.rating|as_stars }}">
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>

                    <small><a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                            {% blocktrans count reviews|length as num_reviews %}
                            1 custom review
                            {% plural %}
                            {{ num_reviews }} customer reviews
                            {% endblocktrans %}
                    </a></small>
                    &nbsp;
                {% else %}
                    <h4>
                {% endif %}
                {% if product|is_review_permitted:user %}
                    <a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview" class="btn btn-success btn-small">
                        {% trans "Write a review" %}
                    </a>
                {% endif %}
                </h4>
            {% endiffeature %}

            <hr/>

            {% block product_basket_form %}
                {% include "catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
        </div><!-- /span6 -->
        {% endblock %}

    </div><!-- /row-fluid -->

    {% block product_info %}
        <div class="sub-header">
            <h2>Выходные данные</h2>
        </div>
        <table class="table table-striped table-condensed">
            <tr>
                <th>ISBN</th>
                <td>{{product.upc}}</td>
            </tr>
            {% for av in product.attribute_values.all %}
                {% if "colophon" in av.attribute.code %}
                    <tr>
                        <th>{{ av.attribute.name }}</th>
                        <td>{{ av.value_as_html }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endblock %}
    {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h2>{% trans "Product Description" %}</h2>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}
    {% endblock %}


    {% iffeature "reviews" %}
        {% block product_review %}
        <section>
            <div id="reviews" class="sub-header">
                {% if reviews|length > 3 %}
                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                {% endif %}
                <h2>{% trans "Customer Reviews" %}</h2>
            </div>

            {% if not reviews %}
                <p>
                    {% trans "This product does not have any reviews yet" %} -
                    <a href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview">{% trans "be the first to write one" %}</a>.
                </p>
            {% else %}
                <ol class="unstyled review-list">
                    {% for review in reviews|slice:":3" %}
                        <li>
                        {% include 'catalogue/partials/review.html' %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </section>
        {% endblock product_review %}
    {% endiffeature %}

    {% if product.related_products.count %}
        <div class="sub-header">
            <h2>{% trans "Related items" %}</h2>
        </div>
        <ul class="row-fluid">
            {% for product in product.related_products.all|slice:":6" %}
            <li class="span2 {% if forloop.counter0|divisibleby:"6" %}no-margin{% endif %}">
                {% render_product product %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if product.recommended_products.count %}
        <div class="sub-header">
            <h2>{% trans "Recommended items" %}</h2>
        </div>
        <ul class="row-fluid">
            {% for product in product.recommended_products.all|slice:":6" %}
            <li class="span2 {% if forloop.counter0|divisibleby:"6" %}no-margin{% endif %}">
                {% render_product product %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {# {% recently_viewed_products %} #}

</article><!-- End of product page -->
{% endblock content %}
