{% extends "layout_2_col.html" %}
{% load url from future %}
{% load category_tags %}
{% load i18n %}

{% block navigation %}
    {% include "partials/nav_primary.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
    <div class="row">
{% category_tree depth=2 as tree_categories %}
    {% for tree_category, info in tree_categories %}
        <div class="span{% if forloop.first %}5{% else %}4{% endif %}">
            <h1>
                <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
            </h1>
        </div>
    {% endfor %}
</div>
<div class="row">
        <div class="span10 ">
                <hr>
                <h2>Внимание!</h2>
                <p>Наше издательство переехало.</p>
                <p>С 14 апреля мы находимся по адресу: ул. Сосинская, дом 43 стр. 1</p>
                <p>Метро Вогоградский проспект, выход из последнего вагона из центра, при выходе из метро подняться по правой лестнице, далее идти вдоль Волгоградского проспекта, перед Макдональдс повернуть налево. За Макдональдс увидите желтый дом. Вход по лестнице на первом этаже.</p>

                <div><script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=xJZCShL52T44spTBTi4cahrze4OWjl6V&width=452&height=321"></script></div>
                <p>&nbsp;</p>
                <hr>
            </div>
        </div>

{% endblock content %}
